@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 210.0000 40.0000% 98.0392%;
        --foreground: 222.8571 84.0000% 4.9020%;
        --card: 0 0% 100%;
        --card-foreground: 222.8571 84.0000% 4.9020%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.8571 84.0000% 4.9020%;
        --primary: 220.9091 39.2857% 10.9804%;
        --primary-foreground: 0 0% 100%;
        --secondary: 210.0000 40.0000% 96.0784%;
        --secondary-foreground: 222.2222 47.3684% 11.1765%;
        --muted: 210.0000 40.0000% 96.0784%;
        --muted-foreground: 215.3846 16.3180% 46.8627%;
        --accent: 210.0000 40.0000% 96.0784%;
        --accent-foreground: 222.2222 47.3684% 11.1765%;
        --destructive: 0 84.2365% 60.1961%;
        --destructive-foreground: 0 0% 100%;
        --border: 214.2857 31.8182% 91.3725%;
        --input: 214.2857 31.8182% 91.3725%;
        --ring: 220.9091 39.2857% 10.9804%;
        --chart-1: 220 8.9362% 46.0784%;
        --chart-2: 243.3962 75.3555% 58.6275%;
        --chart-3: 37.6923 92.1260% 50.1961%;
        --chart-4: 258.3117 89.5349% 66.2745%;
        --chart-5: 330.3659 81.1881% 60.3922%;
        --sidebar: 0 0% 100%;
        --sidebar-foreground: 222.8571 84.0000% 4.9020%;
        --sidebar-primary: 220.9091 39.2857% 10.9804%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 210.0000 40.0000% 96.0784%;
        --sidebar-accent-foreground: 222.2222 47.3684% 11.1765%;
        --sidebar-border: 214.2857 31.8182% 91.3725%;
        --sidebar-ring: 220.9091 39.2857% 10.9804%;
        --font-sans: Inter, sans-serif;
        --font-serif: Inter, sans-serif;
        --font-mono: Inter, sans-serif;
        --radius: 0.75rem;
        --shadow-2xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.03);
        --shadow-xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.03);
        --shadow-sm: 0px 4px 8px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
        --shadow: 0px 4px 8px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
        --shadow-md: 0px 4px 8px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
        --shadow-lg: 0px 4px 8px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
        --shadow-xl: 0px 4px 8px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
        --shadow-2xl: 0px 4px 8px 0px hsl(0 0% 0% / 0.13);
        --tracking-normal: 0rem;
        --spacing: 0.25rem;
      }
      
      .dark {
        --background: 240 10.0000% 3.9216%;
        --foreground: 210.0000 40.0000% 98.0392%;
        --card: 240 10.0000% 3.9216%;
        --card-foreground: 210.0000 40.0000% 98.0392%;
        --popover: 240 10.0000% 3.9216%;
        --popover-foreground: 210.0000 40.0000% 98.0392%;
        --primary: 210.0000 40.0000% 98.0392%;
        --primary-foreground: 240 10.0000% 3.9216%;
        --secondary: 217.2414 32.5843% 17.4510%;
        --secondary-foreground: 210.0000 40.0000% 98.0392%;
        --muted: 217.2414 32.5843% 17.4510%;
        --muted-foreground: 215.0000 20.2247% 65.0980%;
        --accent: 217.2414 32.5843% 17.4510%;
        --accent-foreground: 210.0000 40.0000% 98.0392%;
        --destructive: 0 62.8205% 30.5882%;
        --destructive-foreground: 210.0000 40.0000% 98.0392%;
        --border: 240 3.7037% 15.8824%;
        --input: 240 3.7037% 15.8824%;
        --ring: 240 5.0279% 64.9020%;
        --chart-1: 220 8.9362% 46.0784%;
        --chart-2: 243.3962 75.3555% 58.6275%;
        --chart-3: 37.6923 92.1260% 50.1961%;
        --chart-4: 258.3117 89.5349% 66.2745%;
        --chart-5: 330.3659 81.1881% 60.3922%;
        --sidebar: 240 10.0000% 3.9216%;
        --sidebar-foreground: 210.0000 40.0000% 98.0392%;
        --sidebar-primary: 210.0000 40.0000% 98.0392%;
        --sidebar-primary-foreground: 240 10.0000% 3.9216%;
        --sidebar-accent: 217.2414 32.5843% 17.4510%;
        --sidebar-accent-foreground: 210.0000 40.0000% 98.0392%;
        --sidebar-border: 240 3.7037% 15.8824%;
        --sidebar-ring: 240 5.0279% 64.9020%;
        --font-sans: Inter, sans-serif;
        --font-serif: Inter, sans-serif;
        --font-mono: Inter, sans-serif;
        --radius: 0.75rem;
        --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
        --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
        --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
        --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
        --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
        --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
        --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
        --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
      }
      
      body {
        letter-spacing: var(--tracking-normal);
      }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

